.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #0d0707;
}

.nav-bar {
  background-color: #8C3839;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0px 0px 20px;
  padding: 10px;
  justify-content: center;
  
}

.nav-bar li {
  display: inline;
  align-items: center;
  font-family: sans-serif;
  text-decoration: none;

}

.nav-bar li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  margin: 10px 15px;
  font-weight: 300;
  
  }
  
  .AllRecipes {
    background-color: #F8E5E5;
  }

  .header {
    margin-top: -25px;
    width: 100vw;
    height: 100vh;
    background-image: url("./components/pic1.png");
    background-repeat: cover;
    background-position: center;
  }
  
  .header h1 {
    padding-top: 130px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .header .button-container button {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    user-select: none;
    margin: 0px 10px;
  }

  .header .button-container button a {
    color: black;
    text-decoration: none;
    font-size: 20px;
  }

  .button-container {
    margin: 40px;
  
  }
  
  .api-list h3 {
    color: rgb(255, 255, 255);
    text-decoration: none;

  }

  .list a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
  }

  .list h3 {
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 12px;
    }
  
  .list button {
    background-color: white;
    border-radius: 20px;
    border-color: #8C3839;
    padding: 2px 10px;
  }
  
  .list-container {
    margin: 40px 0px 100px 0px;
    align-items: center;
  }
  
  .add-button {
    background-color: #DA7073;
    border-radius: 20px;
    padding: 10px 20px;
  }

  .add-button a {
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: bold;
  }

  .search-bar {
    margin-top: 10px;
    width: 800px;
    padding: 10px;
  
  }