.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-link {
  color: #0d0707;
}

.nav-bar {
  background-color: #8C3839;
  margin: -25px 0px 0px;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0px 0px 10px;
  padding: 10px;
  justify-content: center;
  
}

.nav-bar li {
  display: inline;
  align-items: center;
  font-family: sans-serif;
  text-decoration: none;

}

.nav-bar li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  margin: 10px 15px;
  font-weight: 300;
  
  }
  
  .AllRecipes {
    background-color: #F8E5E5;
  }

  .header {
    margin-top: -25px;
    width: 100vw;
    height: 100vh;
    background-image: url("./components/images/pic1.png");
    background-repeat: cover;
    background-position: center;
  }
  
  .header h1 {
    padding-top: 130px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .header button {
    background-color: transparent;
    border: 0px;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    
  }

  .header .button-container button {
    align-items: center;
    background-color: #efaba2;
    border: 2px solid #111;
    border-radius: 12px;
    box-sizing: border-box;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    user-select: none;
    margin: 0px 10px;
  }

 
  .header .button-container button a {
    color: black;
    text-decoration: none;
    font-size: 20px;
  }

  .button-container {
    margin: 40px;
    
  }
 
  .list a {
    color: #DA7073;
    text-decoration: none;
    font-family: sans-serif;
  }

  .list h3 {
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 12px;
    }
  
  .list button {
    background-color: white;
    border-radius: 20px;
    border-color: #8C3839;
    padding: 2px 10px;
  }
  
  .list-container {
    margin: 40px 0px 100px 0px;
    align-items: center;
  }
  
  .add-button {
    background-color: #DA7073;
    border-radius: 20px;
    padding: 10px 20px;
  }

  .add-button a {
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: bold;
  }

  .search-bar {
    margin-top: 10px;
    width: 900px;
    padding: 15px;
    border-radius: 30px;
  }

  
  .api-list h3 {
    color: white;
    text-decoration: none;
  
  }

  .add-wine-or-recipe {
    flex: wrap;
    display: flex;
    height: 82vh;
  }

  .wine-image {
    background-image: url("./components/images/wine-cover.gif");
    background-position:right;
    object-fit: cover;
    width: 50vw;
  }
  
  .recipe-image {
    background-image: url("./components/images/recipe-cover.gif");
    background-position: right;
    object-fit: cover;
    width: 50vw;
     }

  .add-form {
    padding: 40px 0px;
    background-color: #fbe9e7;
    width: 50vw;
    font-family: sans-serif;
  }

  .add-form input {
    border-color: #DA7073;
    padding: 2px;
    border-width: thin;
    margin: 0px 20px;
  }

  .add-form select {
    border-color: #DA7073;
    border-width:thin;
    margin: 0px 20px;
  }

  .add-form textarea {
    border-color: #DA7073;
    border-width: thin;
    margin: 0px 20px;
  }

  .add-form button {
    background-color: #DA7073;
    font-size: 20px;
    border-color: black;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;

  }
  
  .details-component {
    background-color: #fbe9e7;
    margin-top: -18px;
    height: 120vh;
  }

  .details-component button {
    background-color: #DA7073;
    font-size: 20px;
    border-color: black;
    border-radius: 20px;
    padding: 2px 35px;
    color: white;
    }
    
  
  .details {
    width: 60%;
    padding: 20px;
  }

  .edit-page {
    background-color: #fbe9e7;
    padding: 20px;
  }

  .login-signup{
    padding: 50px;
    background-color: #fbe9e7;
    height:100vh
  }

  .login-signup input {
    border-radius: 30px;
    padding: 5px;

  }
  
  .login-signup button {
    background-color: #DA7073;
    font-size: 20px;
    border-color: black;
    border-radius: 20px;
    padding: 2px 35px;
    color: white;
    }
    

  